* {
    background-color: rgb(189, 184, 184);
}

#body {
    margin-left: 35%;
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 20px 120px;
    margin-left: 42%;
    margin-top: 10%;
    margin-bottom: 20px;
    background-color: white;
}

.x-design {
    width: 100%;
    height: 100%;
    background-color: rgb(189, 184, 184);
    display: flex;
}

.y-box {
    padding: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

.y-box.active {
    background-color: red;
}

.y-box:hover {
    background-color: pink;
}
